// Place all the styles related to the navigation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions 
{
  text-align: right;
  padding-bottom: 10px;
}

.actions a
{
  display: block;
}

#logo
{
  position: relative;
}

.product
{
  padding: 10px;
  float: left;
  overflow: auto;
  display: inline;
  text-align: center;
  width: 500px;
  height: 550px;
  border: black 3px solid;
}

#content
{
  margin-left: 10%;
  margin: 0 auto;
}

#shopping_cart
{
  position: relative;
  padding: 7px;
  margin-top: -280px;
  float: right;
  border: 2px solid black;
  width: 400px;
}

#shopping_cart p
{
  text-align: center;
  font-weight: bold;
}

#checkout a
{
  text-decoration: none;
  color: red;
  border: 3px inset black;
  padding: 2px;
}

.product h2
{
  font-size: 16px;
}

#logo img
{
  width: 400px;
  height: 250px;
}

#main_nav
{
  padding-bottom: 20px;
}

#main_nav ul
{
  list-style: none;
}

#main_nav li
{
  display: inline;
  padding-left: 10px;
  padding-right:10px;
}

#main_nav li a
{
  text-decoration: none;
}

#search
{
  display: inline;
}

#search form
{
  display: inline;
}

#search input, #search select
{
  display: inline;
}

.product img
{
  width: 150px;
  height: 280px;
}

.pagination
{
  font-size: 18px;
}